*,
*::after,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
/*     height: 100vh;
    display: flex;    
    justify-content: center;
    align-items: center;     */
}

button {
    border-radius: 3px;
    padding: 0.5rem;
    cursor: pointer;
}

.weather{
    background-color: black;
    color:white;
    opacity: 0.6;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 300px;
    gap: 1rem;
}

.temperature {
    font-size: 50px;
}


/*Para el vide de fondo*/
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }
  
  .content {
    position: fixed;
    background: rgba(0, 0, 0, 0.);
    width: 100%;
    height: 100vh;
    display: flex;    
    justify-content: center;
    align-items: center;
  }

 /* Para el loading*/
  .loader-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px       rgba(255,255,255,0.1);
    margin-left: -60px;
    margin-top: -60px;
  }
  .loader-content{
    position: absolute;
    left: 50%;
    top: 44%;
    transform: translate(-50%, -100%);
    color: rgba(255, 255, 255, 0.8);
    font-family: Arial, sans-serif;
  }
  .loader-line-mask {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 120px;
    margin-left: -60px;
    margin-top: -60px;
    overflow: hidden;
    transform-origin: 60px 60px;
    -webkit-mask-image: -webkit-linear-gradient(top,#000000,rgba(0,0,0,0));
    animation: rotate 1.2s infinite linear;
  }
  .loader-line-mask .loader-line {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
  }
  @keyframes rotate { 0% { transform: rotate(0deg);} 100% { transform: rotate(360deg);}}