@import url(https://fonts.googleapis.com/css?family=Poiret+One);
*,
*::after,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
    font-family: Poiret One;
    letter-spacing: 1px;
}

html {
    color-scheme: dark light;
}

button {
    border-radius: 3px;
    padding: 0.5rem;
    cursor: pointer;
    border: none;
    font-weight: bold;
}

button:hover {
    background-color: white;
    color: #000000;
    font-weight: bold;
}

.weather{
    background-color: black;
    color:white;
    opacity: 0.8;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    width: 300px;
}

.weatherCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.title  {
    font-size: 34px;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h1 {
    font-size: 34px;
    margin: 0.5rem;
}

.title img {
    width: 40px;
}

.title .bx {
    color: green;
    /* font-size: 2px; */
}

article .bx {
    color: blue;
}

.location{
    display: flex;    
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    /* background-color: red;  */
}

.timeLocation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0.5rem;
}

#divLocation{
    display: none;
    width: 100%;
}

#currentLocation{
    display: inline;
    width: 100%;    
    text-align: center;
    /* background-color: green; */
    padding: 0.5rem;
}

.selectLocation{
    background-color: white;
    color: #000000;
    font-weight: bold;    
    cursor: pointer;
    border-radius: 15px;
    border-color: none;
}

.info {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 1rem;
}

.iconWewather{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iconWewather img {
    width: 100px;
}

.changeLocation {
    cursor: pointer;
    border-radius: 50%;
    font-size: 16px;
}

.changeLocation:hover {
    cursor: pointer;
    border-radius: 50%;
    background-color: white;
    color: #000000;
    font-size: 16px;
}

.iconWewather h1 {
    font-size: 30px;
    color: white;
}

.icon_temperature{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;   
}

.temperature {
    font-size: 50px;
}

/*Para el vide de fondo*/
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }
  
  .content {
    position: fixed;
    background: rgba(0, 0, 0, 0.);
    width: 100%;
    height: 100vh;
    display: flex;    
    justify-content: center;
    align-items: center;
  }

 /* Para el loading*/
  .loader-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px       rgba(255,255,255,0.1);
    margin-left: -60px;
    margin-top: -60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem
  }

  .loader-line-mask {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 120px;
    margin-left: -60px;
    margin-top: -60px;
    overflow: hidden;
    transform-origin: 60px 60px;
    -webkit-mask-image: -webkit-linear-gradient(top,#000000,rgba(0,0,0,0));
    animation: rotate 1.2s infinite linear;
  }

  .loader-line-mask .loader-line {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
  }

  @keyframes rotate { 0% { transform: rotate(0deg);} 100% { transform: rotate(360deg);}}

.errorDiv {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;    
}

.errormsg{
    text-align: center;
    margin: 1rem;
    color: aqua;
}

#searching{
    text-align: center;
    margin: 0.5rem;
    display: none;
    padding: 2rem;  
}

.time {
    color: aqua;
    font-weight: bold;
}

  @media (min-width: 700px) {

    .title img {
        width: 65px;
    }
    
    .weather{
        background-color: black;
        /* color:white; */
        opacity: 0.8;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        width: 450px;
        gap: 1rem;
    }

    .timeLocation {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .info {    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .icon_temperature{        
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;        
    }

    .iconWewather img {
        width: 180px;
    }
    
    .iconWewather h1 {
        font-size: 50px;
        color: white;
    }

  }